*~
*.log
*.o
*.trs
Makefile.in
Makefile
version.texi
stamp-vti
stamp-h1
/autom4te.cache
/config
/aclocal.m4
/INSTALL
/config.h
/config.h.in
/config.status
/configure
/doc/*.info
/doc/*.html
/doc/*.1
/ecma55/grammar.c
/ecma55/grammar.h
/ecma55/.deps
/ecma55/bas55
