*~
*.log
*.o
*.trs
Makefile.in
Makefile
version.texi
stamp-vti
stamp-h1
/autom4te.cache
/config
/aclocal.m4
/INSTALL
/config.h
/config.h.in
/config.status
/configure
/doc/*.info
/doc/*.html
/doc/*.1
/doc/copyright.texi
/src/grammar.c
/src/grammar.h
/src/.deps
/src/bas55
